@import './Palette.scss';

.carousel {
  margin-left: -6vw;
}

.arrow-icon {
  color: $transparent-black;
  font-size: 100px;
  z-index: 9999;
  position: relative;
  margin-top: 15vh;
}

#prev {
  left: 10vw;
}

#next {
  left: 90vw;
}

.arrow-icon :hover {
  cursor: pointer;
  color: $transparent-black;
}

.carousel-slot {
  flex: 1 0 100%;
  margin-left: -1vw;
}


//   @media ${device.mobileS} {
//       top: 400px;
//       left: ${props => props.right ? "80%" : "1%"}; 
//   }

//   @media ${device.tablet} {
//       left: ${props => props.right ? "82%" : "8%"}; 
//   }

//   @media ${device.laptop} {
//       top: 150px;
//   }