@import './Palette.scss';

.home {
  height: 100%;
  width: 100%;
}

.subcat:hover {
  color: $transparent-black;
  transition: color .8s;
  cursor: pointer;
  // box-shadow: 0px 0.4px 0.4rem 0.06rem $box-shadow;
}

.subcat:hover {
  color: white;
}

#background {
  width: 100vw;
  height: 100vh;
  background: url(../assets/home_landingPic.JPG) repeat 0px 0px;
}

#background a {
  display: inline-block;
  background: url(../assets/home_landingPic.JPG) no-repeat 0px 0px;
  opacity: 0;
}

#background a:hover {
   opacity: 1;
}

