$box-shadow: rgba(0, 0, 0, 0.05);
$box-shadow-dark: rgba(0, 0, 0, 0.14);
$transparent-black-lighter:  rgba(0, 0, 0, 0.5);
$transparent-black:  rgba(0, 0, 0, 0.6);
$transparent-white:  rgba(250, 250, 250, 0.6);
