@import './styles/Palette.scss';

.App {
  /* text-align: center; */
}

html, body {
  height: 100%;
  width: 100%;
}

/* TODO: make font size dynamic!*/
h1 {
  font-family: "Kenia"; 
  color: #ffffff;
  text-shadow: 2px 2px $box-shadow-dark;
}

h2 {
  font-family: 'Alata';
  font-size: 32px;
  color: $transparent-black;
  text-shadow: 1px 1px $box-shadow-dark;
  font-weight: 600;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
